<?xml version="1.0"?>
<!--
/**
 * Copyright © Open Techiz. All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magentiz\AgeVerification\Api\Data\AttachmentInterface"
                type="Magentiz\AgeVerification\Model\Attachment" />
    <preference for="Magentiz\AgeVerification\Api\Data\AttachmentSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Magentiz\AgeVerification\Api\AttachmentRepositoryInterface"
                type="Magentiz\AgeVerification\Model\AttachmentRepository" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="age_verification_attachment_listing_data_source" xsi:type="string">Magentiz\AgeVerification\Model\ResourceModel\Attachment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magentiz\AgeVerification\Model\ResourceModel\Attachment\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">age_verification_attachment</argument>
            <argument name="eventPrefix" xsi:type="string">age_verification_attachment_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">age_verification_attachment_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magentiz\AgeVerification\Model\ResourceModel\Attachment</argument>
        </arguments>
    </type>
</config>
